In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import transformers

In [3]:
df = pd.read_csv('AIME_Dataset_1983_2024.csv')
df.head().T

,0,1,2,3,4
ID,1983-1,1983-2,1983-3,1983-4,1983-5
Year,1983,1983,1983,1983,1983
Problem Number,1,2,3,4,5
Question,"Let $x$ , $y$ and $z$ all exceed $1$ and let $...","Let $f(x)=|x-p|+|x-15|+|x-p-15|$ , where $0 < ...",What is the product of the real roots of the e...,A machine-shop cutting tool has the shape of a...,Suppose that the sum of the squares of two com...
Answer,60,15,20,26,4
Part,NaN,NaN,NaN,NaN,NaN

In [12]:
print(df['Part'].value_counts())
print('\n-------------------------\n')
df.info()

Part
II    361
I     348
Name: count, dtype: int64

-------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933 entries, 0 to 932
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              933 non-null    object
 1   Year            933 non-null    int64
 2   Problem Number  933 non-null    int64
 3   Question        933 non-null    object
 4   Answer          933 non-null    object
 5   Part            709 non-null    object
dtypes: int64(2), object(4)
memory usage: 43.9+ KB

In [13]:
df[df['Part'] == 'I'].head().T

,224,225,226,227,228
ID,2000-I-1,2000-I-2,2000-I-3,2000-I-4,2000-I-5
Year,2000,2000,2000,2000,2000
Problem Number,1,2,3,4,5
Question,Find the least positive integer $n$ such that ...,Let $u$ and $v$ be integers satisfying $0 < v ...,"In the expansion of $(ax + b)^{2000},$ where $...",The diagram shows a rectangle that has been di...,Each of two boxes contains both black and whit...
Answer,8,21,667,260,26
Part,I,I,I,I,I

In [14]:
df[df['Part'] == 'II'].head().T

,239,240,241,242,243
ID,2000-II-2,2000-II-3,2000-II-4,2000-II-5,2000-II-6
Year,2000,2000,2000,2000,2000
Problem Number,2,3,4,5,6
Question,A point whose coordinates are both integers is...,"A deck of forty cards consists of four 1's, fo...",What is the smallest positive integer with six...,"Given eight distinguishable rings, let $n$ be ...",One base of a trapezoid is $100$ units longer ...
Answer,98,758,180,376,181
Part,II,II,II,II,II

In [15]:
df[df['Year'] == 2000].groupby(['Problem Number'])